<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img
    src="../../assets/tab1.png"
    class="responsive-img"
  ></ion-img>
  <ion-card class="ion-text-center">
    <audio #audioElements controls>
      <source
        src="https://emisora.zonasinergia.com/8300/stream"
        type="audio/mpeg"
      />
      Tu navegador no soporta el elemento de audio.
    </audio>
    <ion-card-content>
      <ion-card-subtitle>Nuestras redes sociales</ion-card-subtitle>
      <a href="http://wa.me/2964613376">
        <img src="../../assets/wp.png" alt="" style="width: 60px !important;">
      </a>
      <a href="https://www.instagram.com/imperio_radio_tdf/">
        <img src="../../assets/insta.png" alt="" style="width: 60px !important;">
      </a>
      
        
      
    </ion-card-content>
  </ion-card>
  
  
</ion-content>

