


<ion-content [fullscreen]="true" >
  <ion-card>
    <ion-card-title class="title">PROGRAMAS 2024</ion-card-title>
  </ion-card>
  <ion-card>
    
    
  <ion-list>
      <ion-item>
      <ion-label>Programa numero 16</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://25723.mc.tritondigital.com/IVOOX_0_128_P/media-session/e821f353-9159-4e8f-8bdd-3d1c30249c27/1f4e2be3b6-imperio-16to-programa-2024-audios-mp3_mw_133286462_c95018b27dc7032f995a7a9fd00829b9a360215f98b7a511a2c72f8b3d6123f8_1.mp3?gdpr=1&gdpr_consent=CQFJPAAQFJPAAAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 15</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/b168b34963-imperio-15to-programa-2024-audios-mp3_mw_133029439_44e59ec5f185c9a19207782a573eacc0f448b207e91373ad3049a6de76cfd1d4_1.mp3?gdpr=1&gdpr_consent=CQFJPAAQFJPAAAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 14</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/06e81638ad-imperio-14rto-programa-2024-audios-mp3_mw_132850234_5761b6233d0708afc5636b77d7c9ee5193a16a28ce87cd6d51580878a67c53a4_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 13</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/737518fd14-imperio-13er-programa-2024-audios-mp3_mw_132634019_d30e0d9df7f22907a902d1870e982ae6e70f56ccdf74872f5c71907f9e7c840b_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 12</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://25723.mc.tritondigital.com/IVOOX_0_128_P/media-session/a1a462af-b4df-4735-b5be-1f3ec829345d/e2cf36b57e-imperio-12ndo-programa-2024-audios-mp3_mw_132265165_d7ee6dd491d6faeb4d9fbc28b8a6eb6df39f4d64391e2adcb63c592f349e8168_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 11</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/47c2c1d348-imperio-11mo-programa-2024-audios-mp3_mw_132103355_b83ea5179f50b5dea6e2100c6be7b394986d66d036d3719ec3f52e57604b7fdc_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 10</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/66df2f6212-imperio-10mo-programa-2024-audios-mp3_mw_132101923_ce59811520ad464ff5ebf22204bd15efaea28adca1a1a06fe239c674c61dc978_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 09</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/8a7a35f9da-imperio-9no-programa-2024-audios-mp3_mw_131373407_6b167908a4fca2d968eaf905246327f98d7180d7eacc52c08b93566e66a11495_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 08</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/e2b635d6da-imperio-8vo-programa-2024-audios-mp3_mw_131102610_2a88a5183e814cb2d5b89f67b3321938ce7ff08d42e246de84d9b6e5a0ec3005_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 07</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/e90a8b2a58-imperio-7mo-programa-2024-audios-mp3_mw_130741194_38235694c3d99413b8e3e3218ebe5b37e399c8c9a55897dfd79675ab9a4af665_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 06</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/f59ab3e85f-imperio-6to-programa-2024-audios-mp3_mw_130576485_f4b400b86066e1e1c0ff8fc75e43d22da76672f8b29ddb5bd1c523527a9ee3a7_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 05</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/564e973c4b-imperio-5to-programa-2024-audios-mp3_mw_130113462_84d49006eb4244d809fb008937b45bbc1fde6540b6bd28f463d2d9e1c8d11341_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 04</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/b5a507b1b6-imperio-4to-programa-2024-audios-mp3_mw_129887694_c102cc4b3db9e93d0184f3e7d1e451eaa0eb6a190ad5ede414332f60a28e2c1f_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 03</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/696e114b5c-imperio-3er-programa-2024-audios-mp3_mw_129559235_5801c9a58a7199cea1d77a3133546eae79c102a4c9201355821ac635940ba64f_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 02</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/09586718eb-imperio-2do-programa-2024-audios-mp3_mw_129250080_89c95dbde78cfa766e58bc28432d164aa9fa5a1c59356c96cc00e8ee7c6c44df_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    <ion-item>
      <ion-label>Programa numero 01</ion-label>
    </ion-item>
    <ion-item>
      <audio controls>
        <source
        src="https://ivoox.mc.tritondigital.com/IVOOX_0_128_P/media/bf9a8ca958-imperio-1er-programa-2024-audios-mp3_mw_128976615_49bff4a39d469ac7ce2823e41269206bf293afe40eecca7f8c0619abea6b5e28_1.mp3?gdpr=1&gdpr_consent=CQFMh8AQFMh8AAHABBENBHFsAP_gAEPgAAAAKbtV_G__bWlr8X73aftkeY1P9_h77sQxBhfJE-4FzLvW_JwXx2ExNA36tqIKmRIAu3bBIQNlGJDUTVCgaogVryDMaE2coTNKJ6BkiFMRM2dYCF5vm4tj-QKY5vr991dx2B-t7dr83dzyz4VHn3a5_2a0WJCdA5-tDfv9bROb-9IOd_x8v4v8_F_rE2_eT1l_tWvp7D9-cts7_XW89_fff_9Ln_-uB_-_2CmQBJhoVEAZYEhIQaBhBAgBUFYQEUCAAAAEgaICAEwYFOwMAl1hIgBACgAGCAEAAKMgAQAAAQAIRABAAUCAACAQKAAMACAYCAAgYAAQAWAgEAAIDoGKYEECgWACRmREKYEIQCQQEtlQgkAQIK4QhFngEQCImCgAAAAAKwABAWCwOJJASoSCBLiDaAAAgAQCCAAoQScmAAIAzZag8GTaMrTANHzBIhpgGQAA.f_wACHwAAAAA"
        type="audio/mpeg"
        />
        Tu navegador no soporta el elemento de audio.
      </audio>
    </ion-item>
    
  </ion-list>
</ion-card>
</ion-content>

<!-- 1-poner un icono a la apicacion -->


